<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.test">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="G.Y.M"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Student.StudentLoginActivity"
            android:label="Login" />
        <activity
            android:name=".Student.StudentActivity"
            android:label="gym"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Student.StudentReservationActivity"
            android:label="我的预约"/>
        <activity android:name=".Student.StudentTimeActivity"
            android:label="我的比赛"/>
        <activity android:name=".Student.StudentPlanActivity" />
        <activity android:name=".Staff.StaffLoginActivity" />
        <activity android:name=".Staff.StaffRegisterActivity" />
        <activity android:name=".Student.StudentRegisterActivity" />
        <activity
            android:name=".Staff.StaffActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Staff.GymStaffActivity" />
        <activity android:name=".Staff.EditActivity" />
        <activity android:name=".Staff.StaffEquipmentActivity"
            android:label="我的设施"/>
        <activity android:name=".Staff.StaffGameActivity"
            android:label="我的比赛"/>
        <activity android:name=".Staff.GymCreateActivity" />
        <activity android:name=".Student.GymStudentActivity" />
        <activity android:name=".Student.ReserveEquipmentActivity"
            android:label="预约设施"/>
        <activity android:name=".Student.InqueryGameActivity"
            android:label="查询比赛"/>
        <activity android:name=".Staff.AddEquipmentActivity" />
        <activity android:name=".Staff.AddGameActivity"></activity>
    </application>

</manifest>